@keyframes location1Anim{
    0% {
        top: 228px;
        left: -679px;
    }
    100% {
        top: 214px;
        left: -679px;
    }
}
@keyframes location2Anim{
    0% {
        top: 66px;
        left: -137px;    
    }
    100% {
        top: 52px;
        left: -137px;    
    }
}
@keyframes location3Anim{
    0% {
        top: -60px;
        left: -934px;
    }
    100% {
        top: -74px;
        left: -934px;
    }
}
@keyframes location4Anim{
    0% {
        top: 36px;
        left: -79px;
    }
    100% {
        top: 22px;
        left: -79px;
    }
}
@keyframes location5Anim{
    0% {
        top: -155px;
        left: -920px;
    }
    100% {
        top: -169px;
        left: -920px;
    }
}
@keyframes location1Anim_tablet{
    0% {
        top: 158px;
        left: -495px;
    }
    100% {
        top: 144px;
        left: -495px;
    }
}
@keyframes location2Anim_tablet{
    0% {
        top: 40px;
        left: -102px;    
    }
    100% {
        top: 26px;
        left: -102px;    
    }
}
@keyframes location3Anim_tablet{
    0% {
        top: -53px;
        left: -681px;
    }
    100% {
        top: -67px;
        left: -681px;
    }
}
@keyframes location4Anim_tablet{
    0% {
        top: 20px;
        left: -62px;
    }
    100% {
        top: 6px;
        left: -62px;
    }
}
@keyframes location5Anim_tablet{
    0% {
        top: -121px;
        left: -671px;
    }
    100% {
        top: -135px;
        left: -671px;
    }
}