$C-WHITE: #FFFFFF;
$C-RED: #b90000;
$C-BLACK: #0e0e0e;


.header {
    background: $C-WHITE;
    // margin-bottom: 40px;

    &-helper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logoBlock {
            display: inline-block;
            background: $C-RED;
            padding: 24px 80px 10px;
            margin-bottom: 60px;
            // border-bottom-left-radius: 50%;
            // border-bottom-right-radius: 50%;

            &-logo {
                font-family: Roboto-Bold;
                font-size: 40px;
                line-height: 50px;
                color: $C-WHITE;
                text-transform: uppercase;
            }
        }
        
        &-nav {

            &-navList {
                display: flex;
                flex-direction: row;
                justify-content: center;
                // margin-bottom: 60px;

                &-item {
                    padding: 0 40px;
                    list-style-type: none;

                    &-link {
                        text-decoration: none;
                        font-family: Roboto-Light;
                        font-size: 20px;
                        line-height: 24px;
                        color: $C-BLACK;
                        cursor: pointer;

                        &:hover {
                            padding: 0 0 5px;
                            border-bottom: 1px solid $C-RED;
                        }
                    }
                }
            }

            &-langList {
                display: flex;
                position: absolute;
                top: 146px;
                right: 40px;
                flex-direction: row;
                margin-bottom: 60px;

                &-item {
                    padding: 0 6px;
                    list-style-type: none;

                    &-link {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: Roboto-Light;
                        font-size: 14px;
                        line-height: 18px;
                        color: $C-BLACK;
                        cursor: pointer;

                        &:hover {
                            // padding: 0 0 5px;
                            // border-bottom: 1px solid $C-RED;
                            color: $C-RED;
                        }
                    }
                }

                .lgActive {
                    .header-helper-nav-langList-item-link {
                        // padding: 0 0 5px;
                        color: $C-RED;
                        // border-bottom: 1px solid $C-RED;
                    }
                }

                &-line {
                    height: 20px;
                    border-right: 1px solid $C-RED;
                }
            }
        }

        &-burger {
            display: none;
        }
    }
}

.navDown {
    background: $C-RED;
    margin-bottom: 0;

    .header-helper {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        flex-direction: row;
        background: $C-RED;
        top: 0;
        z-index: 1000;

        &-logoBlock {
            background: $C-RED;
            padding: 10px 80px;
            margin-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &-logo {
                font-size: 32px;
                line-height: 40px;
                color: $C-WHITE;
            }
        }
        
        &-nav {
            display: flex;
            flex-direction: revert;
            align-items: baseline;

            &-navList {
                margin-bottom: 0;

                &-item {
                    padding: 0 10px;

                    &-link {
                        font-size: 18px;
                        line-height: 20px;
                        color: $C-WHITE;

                        &:hover {
                            padding: 0 0 5px;
                            border-bottom: 1px solid $C-WHITE;
                        }
                    }
                }
            }

            &-langList {
                position: initial;
                flex-direction: row;
                margin-bottom: 0;
                padding: 0 20px;

                &-item {
                    padding: 0 4px;

                    &-link {
                        font-size: 14px;
                        line-height: 18px;
                        color: $C-WHITE;

                        &:hover {
                            padding: 0 0 5px;
                            border-bottom: 1px solid $C-WHITE;
                        }
                    }
                }

                &-line {
                    border-right: 1px solid $C-WHITE;
                }
            }
        }
    }
}

.navDown + .hero {
    padding: 248px 0 0;
}


// .header-helper-burger {
//     display: none;
//     position: relative;
//     left: 48px;
//     top: 56px;
//     width: 50px;
//     height: 33px;
//     justify-content: center; }
//     .header-helper-burger-lines, .header-helper-burger-lines:after, .header-helper-burger-lines:before {
//       position: absolute;
//       top: 40%;
//       width: 48px;
//       height: 5px;
//       background-color: #000000; }
//     .header-helper-burger-lines:before {
//       content: '';
//       top: -13px; }
//     .header-helper-burger-lines:after {
//       content: '';
//       top: 13px; }
//     .header-helper-burger:hover .header-helper-burger-lines,
//     .header-helper-burger:hover .header-helper-burger-lines:before,
//     .header-helper-burger:hover .header-helper-burger-lines:after {
//       background-color: #a2a2a2; }
  